.header{
	height: 3rem;
	background-color: red;
}
.city{
	position: absolute;
	top: 0.7rem;
	left: 0.3rem;
	color: white;
}
.search{
	width: 15rem;
	height: 1.8rem;
	position: absolute;
	left: 54%;
	top: 0.5rem;
	transform: translate(-50%,0);
	border-radius: 1.8rem;
	border: 1px solid red;
}